body {
    background-color: rgb(0, 0, 0);
    font-family: Helvetica;
} 

table {
    border-collapse: separate;
    margin: 20px auto;
    overflow: visible;
    font-family:Helvetica;
    table-layout: fixed;
    border-spacing: 6px;
}
td {
    width: clamp(30px, 10vw, 30px);
    height: clamp(20px, 20vw, 20px);
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    padding:7px;
    position: relative;
    overflow:visible;
    transition: transform 0.2s ease, z-index 0.2s;
    z-index:0;

} 
td:hover {
    transform: scale(1.8);
    z-index: 10;
    box-shadow: 0 0 2px rgb(255, 255, 255);
}
.elemento{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 50px;
    height: 45px;
}
.numero {
    font-size: clamp(10px, 0.5vw, 5px);
}
.simbolo {
    font-size: clamp(23px,1.2vw,23px);
    font-weight: bold;
}
.nome {
    font-size: clamp(11px,1vw,11px);
}
.massa{ 
    font-size: clamp(7px, 0.8vw, 7px);
    margin-top: 2px;
}

.naometais {background-color: #051532; }
.alcalinos {background-color: 	#004362;}
.terrosos {background-color: #003900;}
.transicao {background-color: #67000f;}
.metaispostran {background-color: #370037;}
.gasesnobres {background-color: #00312afd ;}
.metaloides {background-color: #2d0068fd;}
.lantanideos {background-color: #5b4e00fd;}
.desconhecido{background-color: #29292c;}
.actinideos{background-color: #511853;}
.vazio{ background-color: transparent; pointer-events: none; width: 2px; border:none; padding: 2px;}
.espaçoverde {background-color: #5b4e00fd; border-radius:15; width: 2px;pointer-events: none; padding: 1px;}
.espaçoroxo {background-color: #511853; border-radius: 5px; width:2px ; pointer-events: none; padding: 1px;}



